{{ define "main" }}
<div class="lyrics">
  <h2 class="song-title">{{ .Title }}</h2>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time class="post-date" datetime="{{ $dateMachine }}">
  {{ $dateHuman }}
  </time>
  
{{ with .Params.albums }}
  <h4 class="album-title">
     <a href="{{ (printf "albums/%s" (. | urlize)) | relURL }}">{{ . }}</a>
  </h4>
{{ end }}

  <div class="lyrics-content">
  {{ .Content }}
  </div>

{{ with .Params.artists }}
  <h4 class="artist-list">
  {{ range $index, $element := . -}}
    {{- if gt $index 0 }}, {{ end }}
    <a href="{{ (printf "artists/%s" ($element | urlize)) | relURL }}">{{ $element }}</a>
  {{- end }}
  </h4>
{{ end }}

<div class="post-navigation">
  {{ with .PrevInSection }}
    <a href="{{ .Permalink }}" class="nav-link prev-song">
      &leftarrow; <strong>Previous Song</strong>
    </a>
  {{ end }}

  {{ with .NextInSection }}
    <a href="{{ .Permalink }}" class="nav-link next-song">
      <strong>Next Song</strong> &rightarrow;
    </a>
  {{ end }}
</div>

</div>
{{ end }}
