{{ define "main" }}
<div class="lyrics">
  <h2 class="song-title">{{ .Title }}</h2>
  
{{ with .Params.albums }}
  <h4 class="album-title">
     <a href="{{ (printf "albums/%s" (. | urlize)) | relURL }}">{{ . }}</a>
  </h4>
{{ end }}

  <div class="lyrics-content">
  {{ .Content }}
  </div>

{{ with .Params.artists }}
  <h6 class="artist-list">
  {{ range $index, $element := . -}}
    {{- if gt $index 0 }} {{ end }}
    <a href="{{ (printf "artists/%s" ($element | urlize)) | relURL }}">{{ $element }}</a>
  {{- end }}
  </h6>
{{ end }}
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_copy_link"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_x"></a>
<a class="a2a_button_telegram"></a>
</div>
<script defer src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->

<div class="post-navigation">
  {{ with .PrevInSection }}
    <a href="{{ .Permalink }}" class="nav-link prev-song">
      &leftarrow; <strong>Previous Song</strong>
    </a>
  {{ end }}

  {{ with .NextInSection }}
    <a href="{{ .Permalink }}" class="nav-link next-song">
      <strong>Next Song</strong> &rightarrow;
    </a>
  {{ end }}
</div>

{{ $lyricsPages := where site.RegularPages "Type" "lyrics" }}

{{ $related := slice }}

{{ with .Params.artists }}
  {{ $artistMatches := where $lyricsPages "Params.artists" "intersect" . }}
  {{ $artistMatches = where $artistMatches "Permalink" "ne" $.Permalink }}

  {{ range $artistMatches }}
    {{ $related = $related | append . }}
  {{ end }}
{{ end }}

{{ with .Params.albums }}
  {{ $albumMatches := where $lyricsPages "Params.albums" . }}
  {{ $albumMatches = where $albumMatches "Permalink" "ne" $.Permalink }}

  {{ range $albumMatches }}
    {{ $related = $related | append . }}
  {{ end }}
{{ end }}

{{ if lt (len $related) 5 }}

  {{ $singlesMatches := where $lyricsPages "Params.albums" "Singles" }}
  {{ $singlesMatches = where $singlesMatches "Permalink" "ne" $.Permalink }}

  {{ range $singlesMatches }}
    {{ $related = $related | append . }}
  {{ end }}

{{ end }}

{{ $related = uniq $related }}

{{ if gt (len $related) 0 }}

<div class="related-songs">

  <h3>Related Songs</h3>

  <ul>
    {{ range first 5 $related }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  </ul>

</div>

{{ end }}

</div>
{{ end }}
