<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NNE51B676P"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NNE51B676P');
</script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8044173730206377"
     crossorigin="anonymous"></script>
<title>{{ if .IsHome }}
    {{ site.Title }}
    {{ else }}
      {{ if .Params.seotitle }}
        {{ printf "%s | %s" .Params.seotitle site.Title }}
      {{ else }}
    {{ printf "%s | %s" .Title site.Title }}
    {{ end }}
    {{ end }}
</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
