<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

<title>
{{ if .IsHome }}

    {{ printf "%s - Gaane Ke Bol" site.Title }}

{{ else if eq .Kind "term" }}

    {{ printf "%s Songs Lyrics | %s" .Title site.Title }}

{{ else }}

    {{ if .Params.seotitle }}
        {{ printf "%s | %s" .Params.seotitle site.Title }}
    {{ else }}
        {{ printf "%s | %s" .Title site.Title }}
    {{ end }}

{{ end }}
</title>
{{ if eq .Type "lyrics" }}

<meta name="description"
content="Read {{ index (split .Title " - ") 0 }}{{ with .Params.artists }} sung by {{ delimit . ", " }}{{ end }}{{ with .Params.albums }} in {{ . }}{{ end }} on Lyrify.">

{{ else if .IsHome }}

<meta name="description"
content="Lyrify.in provides accurate and verified lyrics of Indian songs you love. Find the original lyrics of your favourite Indian songs.">

{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lora:wght@400;500&display=swap" rel="stylesheet">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
